@page "/"
@using TwitterMarijaTask.Data
@using TwitterMarijaTask.Services
@using TwitterMarijaTask.Components
@inject IGetPostService GetPostService

@if (posts == null)
{
    <p>Loading...</p>
}
else if (!posts.Any())
{
    <p>No posts found.</p>
}
else
{
    <PostsList PostList="posts"  />
    
}

@code {
    private List<Post>? posts;
    private int postsCounter = 6; 

    protected override async Task OnInitializedAsync()
    {
        posts = await GetPostService.GetAllPostsAsync();
    }
   
}
